sentence-transformers
pdfplumber
scikit-learn
nltk
numpy==1.26.4
gradio>=4.2.0
gensim==4.3.3
spacy==3.8.7

# File parsing
python-docx
PyMuPDF

# Utility
pandas
openpyxl

# Add this line to prevent build failure
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
